#pie
{
    min-height: 99px!important;
    background: #F9EBE7;
    margin-top: 80vh;
    
}

.registro.row{
    margin-top: 10px!important;
    border-bottom: thin solid #3399ff!important;
    padding: 10px;
    
}

.registro.h1{
    text-align: center;
    color: #3399ff
    
}

.registro label{
    color: #EC2727;
    
}
